---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div class="top-header container">
				<img src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.6.73/mercadolibre/logo_large_25years_v2.png" alt="">
				<div class="input">
					<input placeholder="Busca algo">
					<button>
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
						  </svg>
						  
					</button>
				</div>
				<img src="https://http2.mlstatic.com/D_NQ_873803-MLA78739315606_092024-OO.webp"> 
			</div>
		</header>

		<div class="to-100% h-72 bg-gradient-to-b from-[#e2d523] to-[rgb(192, 189, 189)]"></div>

		</div>
		<div class="cards container max-w-[1200px] mx-auto">
			<div class="bg-white rounded flex-grow-1 w-72">1</div>
			<div class="bg-white rounded flex-grow-1 w-72">2</div>
			<div class="bg-white rounded flex-grow-1 w-72">3</div>
			<div class="bg-white rounded flex-grow-1 w-72">4</div>
			<div class="bg-white rounded flex-grow-1 w-72">5</div>
			<div class="bg-white rounded flex-grow-1 w-72">6</div>

			<!-- <div class="card">
				1
			</div>
			<div class="card">
				2
			</div>
			<div class="card">
				3
			</div>
			<div class="card">
				4
			</div>
			<div class="card">
				5
			</div>
			<div class="card">
				6
			</div> -->

		</div>
		<div class="transition-colors hover:bg-blue-600 hover:cursor-pointer rounded group inline-flex items-center px-4 py-2 text-white bg-blue-500">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-1 group-hover:animate-spin">
				<path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
			  </svg>
			  
			Presioname
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mt-[4px] ml-1">
				<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
			  </svg>
			  
		</div>
		<!-- <slot /> -->
	</body>
</html>
<style>
	html, body{
		padding: 0;
		margin: 0;
		background: rgb(192, 189, 189);
	}
	header{
		height: 80px;
		background: #e2d523;
		padding-top: 12px;
	}
	header img{
		width: 120px;
	}
	header input{
		box-sizing: border-box;
		display: inline;
		width: 80%;
		padding: 10px 8px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border: none;
		/* border: 1px solid rgb(223, 220, 220); */
		outline: none;
		height: 36px;
	}
	header button{
		display: inline;
		width: 32px;
		border: none;
		background: white;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		height: 36px;
	}
	.input{
		display: flex;
		align-items: center;
	}

	/*.banner{
		height: 280px;
		background: linear-gradient(to bottom, #e2d523 60%, rgb(192, 189, 189) 100%);
		
	}*/

	/* .container{
		max-width: 1200px;
		margin: 0 auto;
	} */
	.cards{
		gap: 10px;
		display: flex;
		column-count: 6;
		/* column-gap: 1px; */
		margin-top: -80px;
		height: 240px;
	}
	/* .card{
		flex-grow: 1;
		background-color: white;
		border-radius: 6px;
	} */
	.top-header{
		column-count: 3;
	}



</style>
